{
	"random":["4th Floor i Lay",
			"You know who i am",
			"i don't speak with everyone, you know..",
			"Maybe your in love with Me..",
			"Do you Like Me..",
			"Are tou There...",
			"I Lust after you",
			"Who gave this number too you...",
			"you shouldn't be sending messages to me....",
			"Hello..",
			"Hi....",
			"Maybe one day..",
			"I Am inside you",
			"You know me more than you think",
			"I Love you..",
			"I Killed him....",
			"You Wnat see her again",
			"Now Im free",
			"you Killed me yesterday",
			"Im in your phone now",
			"Block me if you can and suffer",
			"If you Don't Know me by now",
			"You are my slave from now an onwaords",
			"Spread this number too everyone you know"
			],
	"repeaters":["Hell","I Killed Him","He Killed Me","Die",
				"Do It Again","You","Give Me","I'm Not Dead",
				"He is Dead","Help Me","Come Now","4th Floor",
				"Justice","No","Confess"
				]
	
}
